.heading {
    background: #65AED5AA;
    color: #FFFFFF;
    flex-basis: 100%;
    margin: 0;
    width: 100%;

    text-align: center;
}

/* TODO: Implement CSS post-processor to enable the use of custom properties in media queries. */
@media (min-width: 576px) {
    .heading {
        background: none;
    }

}

.heading__position-description {
    align-items: center;
    display: flex;
    justify-content: center;

    font-size: 24px;
}

/* TODO: Implement CSS post-processor to enable the use of custom properties in media queries. */
@media (min-width: 576px) {
    .heading__position-description {
        font-size: 18px;
    }
}

.heading__position-description__icon {
    height: 24px;
    width: auto;
    margin-right: 4px;
}

/* TODO: Implement CSS post-processor to enable the use of custom properties in media queries. */
@media (min-width: 576px) {
    .heading__position-description__icon {
        height: 16px;
    }
}

.heading__date {
    display: block;

    font-size: 18px;
}

/* TODO: Implement CSS post-processor to enable the use of custom properties in media queries. */
@media (min-width: 576px) {
    .heading__date {
        font-size: 14px;
        font-weight: normal;
    }
}