.app {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.app__body {
  flex-basis: 100%;
  height: 100%;
  position: relative;

  background-color: #ffffff;
}

/* TODO: Implement CSS post-processor to enable the use of custom properties in media queries. */
@media (min-width: 576px) {
  .app__body {
    height: auto;

    border-radius: 3px;
    box-shadow: 0 0 15px 0 #00000020;
  }
}

.app__body__current {
  height: 100%;
  padding: 8px 28px;

  background-image: url("./dallas.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TODO: Implement CSS post-processor to enable the use of custom properties in media queries. */
@media (min-width: 576px) {
  .app__body__current {
    height: 368px;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.app__body__current__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.app__body__forecast {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  background: #ffffff;
}

/* TODO: Implement CSS post-processor to enable the use of custom properties in media queries. */
@media (min-width: 576px) {
  .app__body__forecast {
    position: relative;
  }
}

.app__heading {
  position: absolute;
  top: 50vh;
}

/* TODO: Implement CSS post-processor to enable the use of custom properties in media queries. */
@media (min-width: 576px) {
  .app__heading {
    top: -68px;
  }
}
